ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h4,
h5,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 0px;
}

.general__btn {
    padding: 12px 20px 12px 20px;
    border-radius: 25px;
    background-color: #FFFFFF;
    border: 1px solid $focus-color;
    color: $secondary-text-color;
    &:hover,
    &:focus {
        color: $primary-text-color;
        background-color: $focus-color;
    }
}