*,
*::before,
::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0px;
}

.general__btn {
  padding: 12px 20px 12px 20px;
  border-radius: 25px;
  background-color: #FFFFFF;
  border: 1px solid #FF6C00;
  color: #303030;
  cursor: pointer;
  transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.general__btn:hover, .general__btn:focus {
  transition: color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #FFFFFF;
  background-color: #FF6C00;
}

.subtitle--before {
  display: flex;
}
.subtitle--before::before {
  content: "";
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 6.5px;
}

@media screen and (min-width: 150px) {
  .about {
    background-color: #FFFFFF;
    padding: 91px 31px 84px 31px;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
  .about__subtitle {
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .about__subtitle::before {
    border-bottom: 1px solid #303030;
  }
  .about__title {
    width: 330px;
    margin-bottom: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
  .about__label {
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.02em;
  }
  .about__text {
    margin-bottom: 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 150px) {
  .statistic {
    margin: auto;
    width: 480px;
    padding-top: 84px;
    padding-bottom: 84px;
  }
  .statistic__subtitle {
    display: flex;
    margin-left: 31px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
  }
  .statistic__subtitle::before {
    content: "";
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 6.5px;
    border-bottom: 1px solid #303030;
  }
  .statistic__title {
    margin-top: 20px;
    margin-left: 31px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #303030;
  }
  .statistic__text {
    margin-top: 20px;
    margin-left: 31px;
    margin-right: 31px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #555555;
  }
  .statistic__list {
    display: flex;
    flex-wrap: wrap;
  }
  .statistic__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 31px;
    margin-bottom: 30px;
    width: 193px;
    height: 133px;
    background-color: #F7F7F7;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .statistic__item:nth-child(-n+2) {
    margin-top: 44px;
  }
  .statistic__item:nth-child(2) {
    margin-top: 79px;
  }
  .statistic__item:nth-child(3) {
    margin-top: -30px;
  }
  .statistic__item:nth-child(4) {
    margin-bottom: 0px;
  }
  .statistic__numbers {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    color: #303030;
  }
  .statistic__index {
    color: #FF6C00;
  }
  .statistic__description {
    margin-top: 6px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: #303030;
  }
}
@media screen and (min-width: 150px) {
  .team {
    margin: auto;
    width: 480px;
    padding-top: 100px;
    padding-bottom: 36px;
    background-color: #F7F7F7;
  }
  .team__subtitle {
    display: flex;
    margin-left: 31px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: #303030;
  }
  .team__subtitle::before {
    content: "";
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 6.5px;
    border-bottom: 1px solid #303030;
  }
  .team__title {
    margin-left: 31px;
    margin-bottom: 44px;
    margin-top: 20px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #303030;
  }
  .team__image {
    margin-left: 31px;
  }
  .team__name {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.02em;
    color: #303030;
  }
  .team__role {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: #FF6C00;
  }
  .teamnetwork {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 64px;
  }
  .teamnetwork__item:not(:last-child) {
    margin-right: 10px;
  }
  .teamnetwork__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .teamnetwork__item :hover,
:focus .teamnetwork__icon {
    fill: #FF6C00;
  }
  .teamnetwork__icon {
    display: flex;
    transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 150px) {
  .price {
    background-image: linear-gradient(#171A24, rgba(0, 0, 0, 0.4)), url(/images/price/price-mobile-background.x1.5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 84px 31px;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 150px) and (min-device-pixel-ratio: 3), screen and (min-width: 150px) and (min-resolution: 3dppx), screen and (min-width: 150px) and (min-resolution: 288dpi) {
  .price {
    background-image: url(/images/price/price-mobile-background.x3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 150px) {
  .price__subtitle {
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
  }
  .price__subtitle::before {
    border-bottom: 1px solid #9DA4BD;
  }
}
@media screen and (min-width: 150px) {
  .price__title {
    margin-bottom: 44px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 150px) {
  .price__list {
    padding: 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 150px) {
  .price__item {
    display: flex;
    justify-content: space-between;
    color: #9DA4BD;
  }
  .price__item > p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.02em;
  }
  .price__item:nth-child(1) .price__spn {
    height: 20px;
    width: 210px;
  }
  .price__item:nth-child(2) .price__spn {
    height: 20px;
    width: 210px;
  }
  .price__item:nth-child(3) .price__spn {
    height: 20px;
    width: 210px;
  }
  .price__item:nth-child(4) .price__spn {
    height: 20px;
    width: 210px;
  }
  .price__item:nth-child(5) .price__spn {
    height: 20px;
    width: 210px;
  }
  .price__item:nth-child(6) .price__spn {
    height: 20px;
    width: 210px;
  }
  .price__item:nth-child(7) .price__spn {
    height: 20px;
    width: 120px;
  }
  .price__item:nth-child(8) .price__spn {
    height: 20px;
    width: 120px;
  }
  .price__item .price__spn {
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  }
}
@media screen and (min-width: 150px) {
  .price__btn {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 150px) {
  .article {
    width: 480px;
    padding: 84px 31px;
  }
  .article__subtitle {
    margin-bottom: 44px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.9;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .article__subtitle::before {
    border-bottom: 1px solid #303030;
  }
  .article__item > picture > img {
    margin-right: auto;
    margin-left: auto;
  }
  .article__item:not(:last-child) {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=index.css.map */