$primary-text-color: #FFFFFF;
$secondary-text-color: #303030;
$third-text-color: #555555; 
$four-text-color: #9DA4BD;
$focus-color: #FF6C00;
$footer-color: #191C26;
$button-background-color: #FFFFFF;
$second-background-color: #F7F7F7;

*,
*::before,
::after {
    box-sizing: inherit;
}