<section class="about" id="about">
    <h2 hidden> </h2>
    <div class="about__container">
        <ul class="about__list">
            <li class="about__item">
                <picture class="about__picture">
                    <source srcset="/images/about-pc/about-one-pc.x1.5.jpg 1.5x,
                                /images/about-pc/about-one-pc.x3.jpg 3x" media="(min-width:1200px)">
        
                    <source srcset="/images/about-tablet/about-one-tablet.x1.5.jpg 1.5x,
                                /images/about-tablet/about-one-tablet.x3.jpg 3x" media="(min-width:768px)">
        
                    <img src="/images/about-pc/about-one-pc.x3.jpg" alt="Haircut" height="235" class="about__img">
                </picture>
            </li>
            <li class="about__item">
                <picture class="about__picture">
                    <source srcset="/images/about-pc/about-to-pc.x1.5.jpg 1.5x,
                                            /images/about-pc/about-to-pc.x3.jpg 3x" media="(min-width:1200px)">
        
                    <source srcset="/images/about-tablet/about-to-tablet.x1.5.jpg 1.5x,
                                            /images/about-tablet/about-to-tablet.x3.jpg 3x" media="(min-width:768px)">
        
                    <img src="/images/about-pc/about-to-pc.x3.jpg" alt="Haircut" height="235" class="about__img">
                </picture>
            </li>
        </ul>
        <div class="about__box">
            <p class="about__subtitle subtitle--before">
                About us
            </p>
            <h3 class="about__title">
                The best barbershop in your city
            </h3>
            <p class="about__label">
                If you are ready to change your image and become more confident, stay with us.
            </p>
            <p class="about__text">
                We are a team that never stops and always strive for change. So when you’ll get in the hands of our masters, you will
                never be the same. We are doing our best to be on the same wave with our clients and And we are always ready to assist
                everyone who choose us!
            </p>
            <a class="general__btn about__btn scrollto" href="#online-app">
                Online-appointment
            </a>
        </div>
    </div>
</section>