<section class="about" id="about">
    <p class="about__subtitle subtitle--before">
        About us
    </p>
    <h2 hidden></h2>
    <h3 class="about__title">
        The best barbershop in your city
    </h3>
    <p class="about__label">
        If you want to add more confidence to your image, you should be with us.
    </p>
    <p class="about__text">
        We are a team that never stops and yearns for change. And when you get
        in the hands of our master, then you can never be the same. We are a team that is always with customers "on the same
        page". Therefore, we are always ready to improve everyone who comes to us!
    </p>
    <a class="scrollto" href="#online-app">
        <button class="general__btn about__btn">
            Online-appointment
        </button>
    </a>
</section>