<article>
    <p>
        In Latin, "barba" means "beard"
    </p>
    <picture>
        <source srcset="./images/portfolio--pc/computer.x1.jpg 1x,
                                ./images/portfolio--pc/computer.x2.jpg 2x,
                                ./images/portfolio--pc/computer.x3.jpg 3x" 
                                media="(min-width:1200px)">
        <source srcset="
                                ./images/tabplet--portfolio/tablet-portfolio1.x1.jpg 1x,
                                ./images/tabplet--portfolio/tablet-portfolio1.x2.jpg 2x,
                                ./images/tabplet--portfolio/tablet-portfolio1.x3.jpg 3x
                                " media="(min-width:768px)">
                                
        <source srcset="./images/mobile--img/mobile__portfolio--erste.320.jpg 1x,
                                ./images/mobile--img/mobile__portfolio--erste.640.jpg 2x,
                                /images/mobile--img/mobile__portfolio--erste.960.jpg 3x,"
                                 media="(max-width:767px)">
        <img src="./images/img.portfolio.1.jpg" alt="Laptop with photo of three people" width="370" height="294"
            class="portfolio--img">
    </picture>
</article>