<article class="article">
    <p class="article__subtitle">
        In Latin, "barba" means "beard"
    </p>
    <ul class="article__list">
        <li class="article__item">
            <picture>
        <source srcset="/images/article-pc/article-one-pc.x1.5.jpg 1.5x,
                                /images/article-pc/article-one-pc.x3.jpg 3x" 
                                media="(min-width:1200px)">
        <source srcset="
                                /images/article-tablet/article-one-tablet.x1.5.jpg 1.5x,
                                /images/article-tablet/article-one-tablet.x3.jpg 3x
                                " media="(min-width:768px)">
                                
        <source srcset="/images/article-mobile/article-one-mobile.x1.5.jpg 1.5x,
                                /images/article-mobile/article-one-mobile.x3.jpg 3x"
                                 media="(max-width:767px)">
        <img src="/images/article-pc/article-one-pc.x3.jpg" alt="Laptop with photo of three people"  height="360"
            class="portfolio--img">
    </picture>
        </li>
        <li class="article__item">
            <picture>
        <source srcset="/images/article-pc/article-to-pc.x1.5.jpg 1.5x,
                                /images/article-pc/article-to-pc.x3.jpg 3x" 
                                media="(min-width:1200px)">
        <source srcset="
                                /images/article-tablet/article-to-tablet.x1.5.jpg 1.5x,
                                /images/article-tablet/article-to-tablet.x3.jpg 3x
                                " media="(min-width:768px)">
                                
        <source srcset="/images/article-mobile/article-to-mobile.x1.5.jpg 1.5x,
                                /images/article-mobile/article-to-mobile.x3.jpg 3x"
                                 media="(max-width:767px)">
        <img src="/images/article-pc/article-to-pc.x3.jpg" alt="Laptop with photo of three people"  height="360"
            class="portfolio--img">
    </picture>
        </li>
        <li class="article__item">
            <picture>
        <source srcset="/images/article-pc/article-tre-pc.x1.5.jpg 1.5x,
                                /images/article-pc/article-tre-pc.x3.jpg 3x" 
                                media="(min-width:1200px)">
        <source srcset="
                                /images/article-tablet/article-tre-tablet.x1.5.jpg 1.5x,
                                /images/article-tablet/article-tre-tablet.x3.jpg 3x
                                " media="(min-width:768px)">
                                
        <source srcset="/images/article-mobile/article-tre-mobile.x1.5.jpg 1.5x,
                                /images/article-mobile/article-tre-mobile.x3.jpg 3x"
                                 media="(max-width:767px)">
        <img src="/images/article-pc/article-tre-pc.x3.jpg" alt="Laptop with photo of three people"  height="360"
            class="portfolio--img">
    </picture>
        </li>
        <li class="article__item">
            <picture>
        <source srcset="/images/article-pc/article-vire-pc.x1.5.jpg 1.5x,
                                /images/article-pc/article-vire-pc.x3.jpg 3x" 
                                media="(min-width:1200px)">
        <source srcset="
                                /images/article-tablet/article-vire-tablet.x1.5.jpg 1.5x,
                                /images/article-tablet/article-vire-tablet.x3.jpg 3x
                                " media="(min-width:768px)">
                                
        <source srcset="/images/article-mobile/article-vire-mobile.x1.5.jpg 1.5x,
                                /images/article-mobile/article-vire-mobile.x3.jpg 3x"
                                 media="(max-width:767px)">
        <img src="/images/article-pc/article-vire-pc.x3.jpg" alt="Laptop with photo of three people"  height="360"
            class="portfolio--img">
    </picture>
        </li>
    </ul>
</article>
