<section class="price" id="price">
    <div class="price__container">
        <p class="price__subtitle subtitle--before">
            Spend time with the best craftsmen
        </p>
        <h3 class="price__title">
            Services and prices
        </h3>

        <div class="price__list">
            <ul class="price__list--box">
                <li class="price__item price__item--first">
                    <p class="price__text">
                        Men's haircut
                    </p>
                    <span class="price__spn--first"></span>
                    <p class="price__label">
                        from 300 UAH.
                    </p>
                
                </li>
                <li class="price__item price__item--first">
                    <p class="price__text">
                        Beard trim
                    </p>
                    <span class="price__spn--first"></span>
                    <p class="price__label">
                        from 200 UAH.
                    </p>
                </li>
                <li class="price__item price__item--first">
                    <p class="price__text">
                        Mustache haircut
                    </p>
                    <span class="price__spn--first"></span>
                    <p class="price__label">
                        from 200 UAH.
                    </p>
                </li>
                <li class="price__item price__item--first">
                    <p class="price__text">
                        Shaving with straight razor
                    </p>
                    <span class="price__spn--first"></span>
                    <p class="price__label">
                        from 200 UAH.
                    </p>
                </li>
            </ul>
            <ul class="price__list--box">
                <li class="price__item price__item--second">
                    <p class="price__text">
                        Intern's haircut
                    </p>
                    <span class="price__spn--second"></span>
                    <p class="price__label">
                        from 50 UAH.
                    </p>
                </li>
                <li class="price__item price__item--second">
                    <p class="price__text">
                        Haircut under the nozzle
                    </p>
                    <span class="price__spn--second"></span>
                    <p class="price__label">
                        from 200 UAH.
                    </p>
                </li>
                <li class="price__item price__item--second">
                    <p class="price__text">
                        Children's haircut
                    </p>
                    <span class="price__spn--second"></span>
                    <p class="price__label">
                        from 300 UAH.
                    </p>
                </li>
                <li class="price__item price__item--second">
                    <p class="price__text">
                        Gray hair camouflage
                    </p>
                    <span class="price__spn--second"></span>
                    <p class="price__label">
                        from 200 UAH.
                    </p>
                </li>
            </ul>
        </div>
        <a class="price__btn general__btn scrollto" href="#online-app">
            Online-appointment
        </a>
    </div>
</section>