<section class="price">
    <p>
        Spend time with the best craftsmen
    </p>
    <h3>
        Services and prices
    </h3>
    <ul>
        <li>
            <p>
                Men's haircut
            </p>
            <span></span>
            <p>
                from 300 UAH.
            </p>
        </li>
        <li>
            <p>
                Beard trim
            </p>
            <span></span>
            <p>
                from 200 UAH.
            </p>
        </li>
        <li>
            <p>
                Whiskers
            </p>
            <span></span>
            <p>
                from 200 UAH.
            </p>
        </li>
        <li>
            <p>
                Razor
            </p>
            <span></span>
            <p>
                from 200 UAH.
            </p>
        </li>
        <li>
            <p>
                Intern trinket
            </p>
            <span></span>
            <p>
                from 50 UAH.
            </p>
        </li>
        <li>
            <p>
                Nozzle trim
            </p>
            <span></span>
            <p>
                from 200 UAH.
            </p>
        </li>
        <li>
            <p>
                Kid haircut (up to 12 years)
            </p>
            <span></span>
            <p>
                from 300 UAH.
            </p>
        </li>
        <li>
            <p>
                Grey camouflaging
            </p>
            <span></span>
            <p>
                from 200 UAH.
            </p>
        </li>
    </ul>
    <button>
        make apointment
    </button>
</section>