<section class="statistic">
    <p class="statistic__subtitle">
        OLD TRADITIONAL SCHOOL
    </p>
    <h2 class="statistic__title">
        Why do they <br>come to us?
    </h2>
    <p class="statistic__text">
        Only good things are said about us. But better
        1 time to see and feel than 10 times to read.
    </p>
    <div class="statistic__block">
        <ul class="statistic__list">
            <li class="statistic__item">
                <p class="statistic__numbers">
                    600 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    Satisfied customers per day
                </p>
            </li>
            <li class="statistic__item">
                <p class="statistic__numbers">
                    50 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    Excellent Service Awards
                </p>
            </li>
            <li class="statistic__item">
                <p class="statistic__numbers">
                    20 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    The best masters of Kyiv
                </p>
            </li>
            <li class="statistic__item">
                <p class="statistic__numbers">
                    100 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    Gifts for regular customers
                </p>
            </li>
        </ul>
    </div>
</section>