<section class="statistic">
   <div>
    <p class="statistic__subtitle">
        OLD TRADITIONAL SCHOOL
    </p>
    <h2 class="statistic__title">
        Why do people <br>choose us?
    </h2>
    <p class="statistic__text">
        Good reputation is a key, but we believe it’s better to see once than hear a hundred times. So you are welcome to visit
        us and experience all the delights of our hair salon services!
    </p>
   </div>
    <div class="statistic__block">
        <ul class="statistic__list">
            <li class="statistic__item">
                <p class="statistic__numbers">
                    600 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    Satisfied customers per day
                </p>
            </li>
            <li class="statistic__item">
                <p class="statistic__numbers">
                    50 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    Excellent Service Awards
                </p>
            </li>
            <li class="statistic__item">
                <p class="statistic__numbers">
                    20 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    Best masters of Kyiv
                </p>
            </li>
            <li class="statistic__item">
                <p class="statistic__numbers">
                    100 <span class="statistic__index">&#8314;</span>
                </p>
                <p class="statistic__description">
                    Gifts for regular customers
                </p>
            </li>
        </ul>
    </div>
</section>