<section class="team" id="masters">
    <div class="team__container">
    <p class="team__subtitle">
        FOR TRUE CONNOISSEURS OF THE ATMOSPHERE
    </p>
    <h2 class="team__title">
        Our masters
    </h2>
        <ul class="team__list">
        <li class="team__item">
            <picture>
                <source srcset="/images/team/manone.jpg 1x, /images/team/manone@2x.jpg 2x, /images/team/manone@3x.jpg 3x"
                media="(min-width: 1280px)">
                <source srcset="/images/team/manone-tablet.jpg 1x, /images/team/manone-tablet@2x.jpg 2x, /images/team/manone-tablet@3x.jpg 3x"
                media="(min-width: 768px)">
                <source srcset="/images/team/manone-mobile.jpeg 1x, /images/team/manone-mobile@2x.jpeg 2x, /images/team/manone-mobile@3x.jpeg 3x"
                media="(min-width: 150px)">
                <img class="team__image" src="/images/team/manone.jpg" alt="photo of first master">
            </picture>
            <h3 class="team__name">John Smith</h3>
            <p class="team__role">Extreme Barber</p>
            <ul class="teamnetwork">
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="instagram icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="twitter icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="facebook icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" aria-label="linkedin icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="team__item">
            <picture>
                <source srcset="/images/team/mantwo.jpg 1x, /images/team/mantwo@2x.jpg 2x, /images/team/mantwo@3x.jpg 3x"
                media="(min-width: 1280px)">
                <source srcset="/images/team/mantwo-tablet.jpg 1x, /images/team/mantwo-tablet@2x.jpg 2x, /images/team/mantwo-tablet@3x.jpg 3x"
                media="(min-width: 768px)">
                <source srcset="/images/team/mantwo-mobile.jpeg 1x, /images/team/mantwo-mobile@2x.jpeg 2x, /images/team/mantwo-mobile@3x.jpeg 3x"
                media="(min-width: 150px)">
                <img class="team__image" src="/images/team/mantwo.jpg" alt="photo of second master">
            </picture>
            <h3 class="team__name">Michele Doe</h3>
            <p class="team__role">Extreme Barber</p>
            <ul class="teamnetwork">
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="instagram icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="twitter icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="facebook icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" aria-label="linkedin icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="team__item">
            <picture>
                <source srcset="/images/team/mantree.jpg 1x, /images/team/mantree@2x.jpg 2x, /images/team/mantree@3x.jpg 3x"
                media="(min-width: 1280px)">
                <source srcset="/images/team/mantree-tablet.jpg 1x, /images/team/mantree-tablet@2x.jpg 2x, /images/team/mantree-tablet@3x.jpg 3x"
                media="(min-width: 768px)">
                <source srcset="/images/team/mantree-mobile.jpeg 1x, /images/team/mantree-mobile@2x.jpeg 2x, /images/team/mantree-mobile@3x.jpeg 3x"
                media="(min-width: 150px)">
                <img class="team__image" src="/images/team/mantree.jpg" alt="photo of third master">
            </picture>
            <h3 class="team__name">Alan Black</h3>
            <p class="team__role">Extreme Barber</p>
            <ul class="teamnetwork">
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" aria-label="instagram icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="twitter icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="facebook icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="teamnetwork__item">
                    <a class="teamnetwork__link" href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" aria-label="linkedin icon">
                        <svg class="teamnetwork__icon" width="20px" height="20px">
                            <use href="/images/svg/svg-pack.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    </div>
</section>