@media screen and (min-width:150px) {
    .about {
        background-color: #FFFFFF;
        width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
    .about__container {
        padding: 84px 31px;
    }
    .about__subtitle { 
        margin-bottom: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &::before {
            border-bottom: 1px solid $secondary-text-color;
        }
    }
    
    .about__title {
        width: 330px;
        margin-bottom: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        letter-spacing: 0.05em;
    }
    .about__label {
        margin-bottom: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.02em;
    }
    .about__text {
        margin-bottom: 40px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.9;
        letter-spacing: 0.02em;
    }

    .about__list {
        display: none;
    }
}
@media screen and (min-width:768px) {
    .about {
        width: 768px;
    }
    .about__container {
        padding: 100px 31px;
        display: flex;
    }
    .about__box {
        padding-left: 30px;
    }
    .about__list {
            display: block; 
    }
    .about__item {
        &:not(:last-child) { 
            margin-bottom: 30px;
        }
    }
    .about__img {
        height: 235px;
    }
}
@media screen and (min-width:1200px) {
    .about {
        width: 1280px;
    }
    .about__container {
        padding: 163px 91px 88px 55px;
    }
    .about__box {
        padding-left: 64px;
    }
    .about__list {
        display: flex;
    }
    .about__item {
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }
    .about__img {
        height: 430px;
    }
}