@media screen and(min-width:150px) {
    .article {
        width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
    .article__container {
        padding: 84px 31px;
    }
    .article__subtitle {
        margin-bottom: 44px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.9;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &::before {
            border-bottom: 1px solid #303030;
        }
    }
    
    .article__item{
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
@media screen and(min-width:768px) {
    .article {
        width: 768px;
    }
    .article__container {
        padding: 100px 39px;
    }
    .article__list {
        display: flex;
        flex-wrap: wrap
    }
    .article__item {
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
        &:nth-child(n+3) {
            margin-bottom: 0;
        }
        &:nth-child(even) {
            margin-left: 30px;
        }
    }
}
@media screen and(min-width:1280px){
    .article {
        width: 1280px;
    }

    .article__container {
        padding: 130px 55px;
    }

    .article__list {
        flex-wrap: nowrap
    }

    .article__item {
        &:nth-child(-n+2) {
            margin-bottom: 0;
        }
    
        &:nth-child(n+3) {
            margin-bottom: 0;
        }
    
        &:nth-child(even) {
            margin-left: 0;
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}