@media screen and(min-width:150px) {
    .article {
        width: 480px;
        padding-top: 84px;
        padding-bottom: 84px;
        margin-right: auto;
        margin-left: auto;
    }
    .article__subtitle {
        margin-left: 31px;
        margin-bottom: 44px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.9;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &::before {
            border-bottom: 1px solid #303030;
        }
    }
    .article__list {
        width: max-content;
        padding-left: 31px;
    }
    .article__item {
        display: flex;
        justify-content: center;
        width: max-content;
        border: 3px solid #303030;
        border-radius: 5px;
        background-color: #303030;
    }
    .article__item{
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}