@media screen and (min-width:150px) {
    .slider{
        overflow: hidden;
        width: 480px;
        height: 580px;
        margin: auto;
    }

    .slider__first{
        background-image: url(/images/background/backgroundimg-mobile.jpeg);

        background-color: $second-background-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/background/backgroundimg-mobile@2x.jpeg);
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 3dppx) {
        background-image: url(/images/background/backgroundimg-mobile@3x.jpeg);
        }
    }

    .slider__second{
        background-image: url(/images/background/backgroundimg2-mobile.jpeg);

        background-color: $second-background-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/background/backgroundimg2-mobile@2x.jpeg);
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 3dppx) {
        background-image: url(/images/background/backgroundimg2-mobile@3x.jpeg);
        }
    }

    .slider__third{
        background-image: url(/images/background/backgroundimg3-mobile.jpeg);

        background-color: $second-background-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(/images/background/backgroundimg3-mobile@2x.jpeg);
        }

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 192dpi),
        (min-resolution: 3dppx) {
        background-image: url(/images/background/backgroundimg3-mobile@3x.jpeg);
        }
    }

    .index{
        width: 480px;
        height: 580px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 0;
        z-index: 3;
    }


    .header__line{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo{
        
        margin-left: 31px;
        margin-top: 40px;

        fill: $four-text-color;
    }

    .menu__button{
        margin-top: 48px;
        margin-right: 31px;
        width: 40px;
        height: 40px;
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        cursor: pointer;
        
        fill: $four-text-color;

        &:hover,
        :focus {
        fill: $focus-color;
        }
        
        transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal{
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 359px;
        height: 100vh;
        z-index: 999;
        background-color: $primary-text-color;
        transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 4px 8px rgb(0 0 0 / 4%), 0px 2px 4px rgb(0 0 0 / 8%), 0px 1px 3px rgb(0 0 0 / 16%);
    }

    .is-open{
        pointer-events: all;
        opacity: 1;
    }

    .close__button{
        display: flex;
        margin-left: 288px;
        margin-top: 48px;
        cursor: pointer;

        border: none;
        background-color: rgba($color: #000000, $alpha: 0);

        &:hover,
        :focus {
        fill: $focus-color;
        }
        
        transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }

    .navigation{
        margin-top: 40px;
        margin-left: 62px;
    }

    .navigation__item:not(:last-child){
        margin-bottom: 20px;
    }

    .navigation__link{

        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 1.38;
        letter-spacing: 0.1em;

        color: $secondary-text-color;

    &:hover, :focus {
        color: $focus-color;
    }

    transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts{
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        margin-left: 62px;
    }

    .contacts__number{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;

        color: $secondary-text-color;

        &:hover,
        :focus {
            color: $focus-color;
        }
        
        transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts__button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 194px;
        height: 40px;
        margin-top: 24px;
        cursor: pointer;

        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        
        color: $secondary-text-color;
        border: 1px solid #FF6C00;
        border-radius: 25px;
        background-color: rgba($color: #000000, $alpha: 0);

        &:hover,
        :focus {
        background-color: $focus-color;
        color: $primary-text-color;
        }
        
        transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1),
        color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .network{
        margin-top: 76px;
        margin-left: 62px;
    }

    .network__link{
        display: flex;
        align-items: center;

        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 14px;
        line-height: 1.35;
        letter-spacing: 0.2em;

        color: $secondary-text-color;

        &:hover,
        :focus {
        color: $focus-color;
        }
        
        transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);

         &::before {
            content: "";
            display: block;
            margin-right: 40px;
            width: 60px;
            border-bottom: 1px solid $secondary-text-color;
            }
    }

    .network__item:not(:last-child){
        margin-bottom: 20px;
    }

    .hero__subtitle{
        display: flex;
        margin-left: 31px;
        margin-top: 112px;

        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        
        color: $four-text-color;

        &::before {
        content: "";
        display: block;
        margin-right: 20px;
        width: 65px;
        height: 6.5px;
        border-bottom: 1px solid $four-text-color;
        }
    }

    .hero__title{
        margin-left: 31px;
        margin-top: 20px;

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 48px;
        line-height: 1.16;
        letter-spacing: 0.05em;

        color: $primary-text-color;
    }

    .hero__text{
        margin-left: 31px;
        margin-top: 20px;

        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.02em;

        color: $four-text-color;
    }

    .slider__buttons{
        display: flex;
        justify-content: flex-end;
        margin-top: 150px;
        margin-right: 35px;

        fill: $focus-color;
       
    }

    .slider__button{
        border: none;
        background-color: rgba($color: #000000, $alpha: 0);
        
    }

    .slider__button:not(:last-child){
        margin-right: 20px;
    }
}

@media screen and (min-width:768px) {
    .header{
        position: relative;
        display: flex;
        justify-content: end;
        margin: auto;
        display: flex;
        width: 768px;
        
    }

    .slider{
        margin-right: 39px;
        overflow: hidden;
        width: 576px;
        height: 680px;
        
    }

    .index{
        width: 576px;
        height: 680px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 0;
        z-index: 3;
    }

    .hero__subtitle{
        display: flex;
        margin-left: 70px;
        margin-top: 192px;
    }

    .hero__title{
        margin-left: 70px;
    }

    .hero__text{
        margin-left: 70px;
    }

    .header__line{
        display: block;
    }

    .header__logo{
        margin: 0px;
        position: absolute;
        left: -104;
        top: 32;
        fill: $secondary-text-color;
    }

    .modal {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 32px;
        height: 65px;
        width: 576px;
        opacity: 1;
        pointer-events: all;
        background-color: rgba($color: #ffffff, $alpha: 0);
        box-shadow: none;
    }

    .navigation{
        margin: 0px;
    }

    .navigation__list{
        display: flex;
        margin-left: 10px;
    }

    .navigation__link{
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;

        color: $primary-text-color;
    }

     .navigation__item:not(:last-child){
        margin-right: 15px;
        margin-bottom: 0px;

        color: $primary-text-color;
    }

    .navigation__item{
        margin-bottom: 0px;
    }

    .contacts{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px;
        margin-left: 15px;
    }

    .contacts__number{
        margin-top: 20px;

        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;

        color: $primary-text-color;
    }

    .contacts__button{
        width: 161px;
        margin-top: 40px;

        color: $primary-text-color;
    }

    .network{
        margin: 0px;

        position: absolute;
        left: -79;
        top: 340;
    }

    .network__list{
        display: flex;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .network__link{
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.2em;

        &:before{
         display: none;
        }
    }

    
    .network__item:not(:last-child){
        margin-bottom: 40px;
    }

    .close__button, .menu__button{
        display: none;
    }
}

@media screen and (min-width:1280px) {
    .slider {
            overflow: hidden;
            width: 1072px;
            height: 672px;
        }
    
        .slider__first {
            background-image: url(/images/background/backgroundimg-desktop.jpeg);
    
            background-color: $second-background-color;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/images/background/backgroundimg-desktop@2x.jpeg);
            }
    
            @media (min-device-pixel-ratio: 3),
            (-webkit-min-device-pixel-ratio: 3),
            (min-resolution: 192dpi),
            (min-resolution: 3dppx) {
                background-image: url(/images/background/backgroundimg-desktop@3x.jpeg);
            }
        }
    
        .slider__second {
            background-image: url(/images/background/backgroundimg2-desktop.jpeg);
    
            background-color: $second-background-color;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/images/background/backgroundimg2-desktop@2x.jpeg);
            }
    
            @media (min-device-pixel-ratio: 3),
            (-webkit-min-device-pixel-ratio: 3),
            (min-resolution: 192dpi),
            (min-resolution: 3dppx) {
                background-image: url(/images/background/backgroundimg2-desktop@3x.jpeg);
            }
        }
    
        .slider__third {
            background-image: url(/images/background/backgroundimg3-desktop.jpeg);
    
            background-color: $second-background-color;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(/images/background/backgroundimg3-desktop@2x.jpeg);
            }
    
            @media (min-device-pixel-ratio: 3),
            (-webkit-min-device-pixel-ratio: 3),
            (min-resolution: 192dpi),
            (min-resolution: 3dppx) {
                background-image: url(/images/background/backgroundimg3-desktop@3x.jpeg);
            }
        }
    
    .header{
        position: relative;
        display: flex;
        justify-content: end;
        margin: auto;
        display: flex;
        width: 1280px;
        
    }

    .index{
        width: 1072px;
        height: 672px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 0;
        z-index: 3;
    }

    .modal{
        display: flex;
        justify-content: space-between;
        width: 1072px;
    }

    .navigation__list{
        display: flex;
        margin-left: 43px;
    }

    .navigation__item:not(:last-child){
        margin-right: 40px;
    }

    .contacts{
        display: inline;
        margin-right: 20px;
        margin-left: 0px;
    }

    .contacts__button{
        display: inline;
        padding: 11px 19px;
    }

    .contacts__number{
        margin-right: 40px;
    }

      .hero__subtitle{
        display: flex;
        margin-left: 100px;
        margin-top: 208px;
 
        color: $four-text-color;

        &::before {
        content: "";
        display: block;
        margin-right: 21px;
        width: 62px;
        height: 6.5px;
        border-bottom: 1px solid $four-text-color;
        }
    }

    .hero__title{
        margin-left: 100px;
        margin-top: 20px;

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 72px;
        line-height: 1.18;
        letter-spacing: 0.05em;

        color: $primary-text-color;
    }

    .hero__text{
        margin-left: 100px;
        margin-top: 20px;

        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.02em;

        color: $four-text-color;
    }

    .slider__buttons{
        margin-top: 135px;
    }

}