@media screen and (min-width:150px) {
    .price {
        background-image:linear-gradient(#111319, rgba(0, 0, 0, 0.3)), 
        url(/images/price/price-mobile-background.x1.5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        width: 480px;
        margin-right: auto;
        margin-left: auto;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dppx),
        screen and (min-resolution: 288dpi) {
    
        background-image: linear-gradient(#111319, rgba(0, 0, 0, 0.3)),
        url(/images/price/price-mobile-background.x3.jpg);
    
        }
    }
    .price__container {
        padding: 84px 31px;
    }

    .price__subtitle {
        margin-bottom: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(157, 164, 189, 0.6);
        &::before {
           border-bottom: 1px solid $four-text-color;
        }
    }
    .price__title {
        margin-bottom: 44px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        color: $primary-text-color;
    }
    .price__list {
        padding: 30px 40px;
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
    .price__item {
        display: flex;
        margin-bottom: 20px;
        height: 30px;
        justify-content: space-between;
        color: $four-text-color;
        & > p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 2.14;
            letter-spacing: 0.02em;
        }
        &:nth-child(1) .price__spn {
            margin-bottom: 20px;
            height: 20px;
            width: 145px;
        }
        &:nth-child(2) .price__spn {
            margin-bottom: 20px;
            height: 20px;
            width: 165px;
        }
        &:nth-child(3) .price__spn {
            margin-bottom: 20px;
            height: 20px;
            width: 118px;
        }
        &:nth-child(4) .price__spn {
            margin-bottom: 20px;
            height: 20px;
            width: 49px;
        }
        &:nth-child(5) .price__spn {
            margin-bottom: 20px;
            height: 20px;
            width: 144px;
        }
        &:nth-child(6) .price__spn {
            margin-bottom: 20px;
            height: 20px;
            width: 77px;
        }
        &:nth-child(7) .price__spn {
            margin-bottom: 20px;
            height: 20px;
            width: 120px;
        }
        &:nth-child(8) .price__spn {
            height: 20px;
            width: 89px;
        }
        .price__spn {
            border-bottom: 1px solid rgba(157, 164, 189, 0.12);
        }
    }

    
    
    .price__btn {
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        color: $primary-text-color;
        background-color: rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus {
        color: $secondary-text-color;
        }
    }
}
@media screen and (min-width:768px) {
    .price {
        width: 768px;
    }
    .price__container {
        padding: 100px 39px;
    }
}
@media screen and (min-width:1280px) {
    .price {
        width: 1280px;
    }

    .price__container {
        padding: 130px 55px;
    }
    .price__list {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    .price__list--box {
        &:nth-child(1) {
            background-color: tomato;
        }
    }
}