@media screen and (min-width:150px) {
    .price {
        background-image:linear-gradient(#111319, rgba(0, 0, 0, 0.3)), 
        url(/images/price/price-mobile-background.x1.5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        width: 480px;
        margin-right: auto;
        margin-left: auto;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 3dppx),
        screen and (min-resolution: 288dpi) {
    
        background-image: linear-gradient(#111319, rgba(0, 0, 0, 0.3)),
        url(/images/price/price-mobile-background.x3.jpg);
    
        }
    }
    .price__container {
        padding: 84px 31px;
    }

    .price__subtitle {
        margin-bottom: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(157, 164, 189, 0.6);
        &::before {
           border-bottom: 1px solid $four-text-color;
        }
    }
    .price__title {
        margin-bottom: 44px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        color: $primary-text-color;
    }
    .price__list {
        padding: 30px 40px;
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
    .price__item {
        display: flex;
        margin-bottom: 20px;
        height: 30px;
        justify-content: space-between;
        color: $four-text-color;
    }
    .price__spn--first,
    .price__spn--second {
        height: 20px;
        width: 50px;
        border-bottom: 1px solid rgba(157, 164, 189, 0.12);
    }
    .price__item--first {
        &:nth-child(1) span {
            width: 135px;
        }
        &:nth-child(2) span {
            width: 155px;
        }
        &:nth-child(3) span {
            width: 110px;
        }
        &:nth-child(4) span {
            width: 45px;
        }
    }
    .price__item--second {
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(1) span {
            width: 133px;
        }

        &:nth-child(2) span {
            width: 60px;
        }

        &:nth-child(3) span {
            width: 108px;
        }

        &:nth-child(4) span {
            width: 83px;
        }
    }
    .price__text,
    .price__label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 0.02em;
    }
    .price__btn {
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        color: $primary-text-color;
        background-color: rgba(0, 0, 0, 0.1);

        &:hover,
        &:focus {
        color: $secondary-text-color;
        }
    }
}
@media screen and (min-width:768px) {
    .price {
        width: 768px;
    }
    .price__container {
        padding: 100px 39px;
    }
    .price__item--first {
        &:nth-child(1) span {
            width: 408px;
        }

        &:nth-child(2) span {
            width: 427px;
        }

        &:nth-child(3) span {
            width: 382px;
        }

        &:nth-child(4) span {
            width: 318px;
        }
    }

    .price__item--second {

        &:nth-child(1) span {
            width: 405px;
        }

        &:nth-child(2) span {
            width: 332px;
        }

        &:nth-child(3) span {
            width: 380px;
        }

        &:nth-child(4) span {
            width: 355px;
        }
    }
}
@media screen and (min-width:1280px) {
    .price {
        width: 1280px;
    }

    .price__container {
        padding: 130px 55px;
    }
    .price__list {
        width: 1170px;
        height: 240px;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    .price__list--box {
        padding: 30px 40px;
        width: 100%;
        &:nth-child(1) {
            background-color: rgba(9, 11, 19, 0.2);
        }
        &:nth-child(2){
            background-color: rgba(9, 11, 19, 0.7);
        }
    }

    .price__item--first {
        &:nth-child(1) span {
            width: 301;
        }

        &:nth-child(2) span {
            width: 321px;
        }

        &:nth-child(3) span {
            width: 277px;
        }

        &:nth-child(4) span {
            width: 213px;
        }
    }

    .price__item--second {

        &:nth-child(1) span {
            width: 300px;
        }

        &:nth-child(2) span {
            width: 227px;
        }

        &:nth-child(3) span {
            width: 275px;
        }

        &:nth-child(4) span {
            width: 250px;
        }
    }
    

}